html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
}
body {
  background-image: url("../images/siteassistpro_images/sub_body_background.jpg");
  background-repeat: repeat-x;
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: center;
}
h1 {
	color: #f47820;
	font-size: 24px;
	font-weight: bold;
	line-height: 18px;
}
h2 {
	color: #024F2D;
	font-size: 16px;
	font-weight: bold;
	line-height: normal;
}
h3 {
	color: #f47820;
	font-size: 14px;
}
h4 {
  color: #f47820;
}
h5 {
  color: #f47820;
}
h6 {
  color: #f47820;
}
a,  a:link {
  color: #017a20;
  font-weight: bold;
  text-decoration: underline;
}
a:visited {
	color: #578557;
	font-weight: bold;
	text-decoration: underline;
}
a:hover {
  color: #017a20;
  text-decoration: underline;
}
a:focus {
  color: #017a20;
}
a:active {
  color: #004e2a;
}
#outerWrapper {
  margin: 0 auto 0 auto;
  text-align: left;
  width: 761px;
}
#outerWrapper #header {
	border-left: solid 1px #ccd0d6;
	border-right: solid 1px #ccd0d6;
	font-size: 18px;
	font-weight: bold;
	height: 70px;
	line-height: 15px;
	padding: 20px 0px 0px 20px;
	text-align: left;
	background-image: url(../images/siteassistpro_images/content_header_bg.jpg);
}
#outerWrapper #topNavigation {
	background-position: top left;
	background-repeat: no-repeat;
	color: #7AA669;
	font-weight: bold;
	height: 50px;
	margin-top: 14px;
	padding: 10px 5px 0px 5px;
}
#outerWrapper #contentWrapper {
  background-image: url("../images/siteassistpro_images/sub_sidenav_background.jpg");
  background-position: left;
  background-repeat: repeat-y;
  height: 1%;
  min-height: 0;
  overflow: hidden;
}
#outerWrapper #contentWrapper #leftColumn1 {
	float: left;
	/*padding: 10px 20px 50px 20px;*/
	padding: 10px 10px 50px 10px;
	width: 190px;
}
#outerWrapper #contentWrapper #content {
	margin: 0 0 0 210px;
	padding: 10px 20px 10px 15px;
}
#outerWrapper #footer {
  color: #017a20;
  padding: 10px 0px 10px 0px;
}
