

/*****END NAV JQUERY TESTING*****/
/*li {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: normal;
	color: #333;
}*/
/*****END NAV JQUERY TESTING*****/
/*.mapCentered {
	text-align: center;
	margin-left: 120px;
}

.greenText {
	color: #024F2D;
}
.horizontalRuleColor {
	color: #C6DC98;
	text-align: center;
}
.formText {
	font-size: 14px;
	color: #000;
}
*/